@model IEnumerable<Zbuss_Proyect.Models.TbAsientosBus>

@{
    ViewData["Title"] = "EditAsientos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>EditAsientos</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodAsiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inclinacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PisoBus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdbusNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodAsiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inclinacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PisoBus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdbusNavigation.Placa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idasiento">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idasiento">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
